#logotipas{
	height: 64px;
}
body{
	background-color: #b0bec5;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .tekstasSliderio{
  	font-size: 100px;
  }
  .miniTekstas{
  	font-size: 50px;
  }

  .foto {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  #manoNuotrauka{
  	width: 300px;
  }

  .carousel {
  	height: 400px !important;
  }
  .indicator-item{
    background-color: grey !important;
  }
  .indicator-item.active{
    background-color: black !important;
  }
 